@model MvcKo.Web.ViewModels.SalesOrderViewModel
@using System.Web.Script.Serialization

@{
    var data = new JavaScriptSerializer().Serialize(Model);
}
@section scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/sales")
    <script type="text/javascript">
        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        ko.applyBindings(salesOrderViewModel);
    </script>
}

@Html.Partial("Display")
<div class="col-md-6 col-md-offset-3">
    <p>
        @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-default btn-sm" })
    </p>
</div>
