@model MvcKo.Web.ViewModels.SalesOrderViewModel
@using System.Web.Script.Serialization

@{
    var data = new JavaScriptSerializer().Serialize(Model);
}
@section scripts{
    @Scripts.Render("~/bundles/knockoutSales")
    <script type="text/javascript">
        var salesOrderViewModel = new SalesOrderViewModel(@Html.Raw(data));
        ko.applyBindings(salesOrderViewModel);
    </script>
}
@Html.AntiForgeryToken()
<h2>@ViewBag.Title</h2>
<p data-bind="text: MessageToClient"></p>

<div>
    <div>
        <label>Customer name:</label>
        <input data-bind="value: CustomerName, event: {change: flafAsEdited}" />
    </div>
    <div>
        <label>PO number:</label>
        <input data-bind="value: PoNumber, event: {change: flafAsEdited}" />
    </div>
</div>

<button data-bind="click: save">Save</button>

<p>
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.Hidden("urlSavePost", Url.Action("Save"))